html {
	font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
}

#content {
	margin: 2px;
	overflow: hidden;
	padding-left: 20px;
}

#header {
	font-size: 80px;
	margin-top: -65px;
	border-bottom: solid 4px;
	height: 100px;
}

#search {
	margin-top: -110px;
	float: right;
}

#sbar {
	border: solid 2px;
	border-radius: 1px;
}

#sbutton {
	display: inline-block;
	position: relative;
	background-image: "../images/search.png";
	left: -26px;
	height: 19px;
	width: 20px;
	top: -5px;
	border: none;
}

#weather {
	float: left;
	width: auto;
}

#sidebar {
	float: left;
	width: 20%;
}

#general {
	display: none;
	border: 2px solid;
	float: left;
}

#show_gen {
	height: auto;
}

#school {
	display: none;
	border: 2px solid;
	float: left;
}

#show_school {
	height: auto;
}

#media {
	display: none;
	border: 2px solid;
	float: left;
}

#show_media {
	height: auto;
}

#code {
	display: none;
	border: 2px solid;
	float: left;
}

#show_code {
	height: auto;
}

#footer {
	float: right;
	position: relative;
	top: 80px;
	font-size: 14px;
}

#datetime {
	font-size: 30px;
	float: left;
}

#date {
	margin-bottom: -60px;
}

#first-row {
	height: 150px;
	margin-bottom: 10px;
}

#second-row {
	height: 150px;
	margin-top: 10px;
}

.border_top {
	border-top: 2px solid;
}

.border_bottom {
	border-bottom: 2px solid;
}

.border_right {
	border-right: 2px solid;
}

.category img {
	width: 200px;
	height: auto;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.links {
	padding-bottom: 12px;
	margin: 0 auto;
	display: inline-block;
	vertical-align: top;
}

.link {
	padding-top: 2px;
	padding-bottom: 2px;
}

a:visited, a:link {
	text-decoration: none;
}

.gill {
	font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
}

.modal {
	display: none;
	position: absolute;
	z-index: 1;
	width: 210px;
	height: auto;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
	text-align: center;
}

.modal-content {
	background-color: #fefefe;
	margin: 5% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

.small-bottom {
	margin-bottom: -1px;
}

.small-top {
	margin-top: -1px;
}

table {
	width: 100%;
	margin: 10px;
}

td {
	width: 25%;
}

tr {
	width: 50%;
}