html {
	font-family: "Monaco";
	background-color: #002b36;
}

#content {
	color: #657b83;
	text-align: center;
	outline-style: solid;
	margin: 2px;
	overflow: hidden;
}

#search {
	/*position: absolute;*/
	padding-top: 30px;
	text-align: center;
}

#sbar {
	background-color: #002b36;
	color: #657b83;
	border: none;
	border-bottom: solid 3px;
	border-radius: 1px;
}

#sbutton {
	font-family: "Monaco";
	color: #657b83;
	background-color: #002b36;
	border: solid;
	border-radius: 1px;
}

#footer {
	color: #657b83;
	float: right;
	position: relative;
	top: 175px;
	font-size: 14px;
}

#header {
	text-align: center;
	margin: auto;
	color: #cb4b16;
	font-size: 60px;
	margin-top: 12px;
	margin-bottom: 35px;
	width: 350px;
}

.links {
	padding-bottom: 12px;
	margin: 0 auto;
	display: inline-block;
	vertical-align: top;
}

.link {
	padding-top: 2px;
	padding-bottom: 2px;
}

a:visited, a:link {
	color: #b58900;
	text-decoration: none;
}

.category {
	margin: auto;
	float: left;
	width: 25%;
	color: #657b83;
}
