html {
	/*background-color: #002b36;*/
}

#content {
	margin: 2px;
	overflow: hidden;
}

#top {
	/*margin-top: -35px;*/
}

#header {
	color: #93a1a1;
	font-size: 80px;
	margin-top: -65px;
	border-bottom: solid 4px;
	height: 100px;
}

#search {
	margin-top: -110px;
	float: right;
}

#weather {
}

#weather_icon {
}

#sbar {
	border: solid 2px;
	/*border-bottom: solid 2px;*/
	/*border-left: solid 2px;*/
	border-radius: 1px;
}

#sbutton {
	border: solid 2px;
	border-radius: 1px;
}

#footer {
	float: right;
	position: relative;
	top: 80px;
	font-size: 14px;
}

#datetime {
	font-size: 30px;
	float: left;
}

#date {
	margin-bottom: -60px;
}

#time {
}



.border_top {
	border-top: 2px solid;
}

.border_bottom {
	border-bottom: 2px solid;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.links {
	padding-bottom: 12px;
	margin: 0 auto;
	display: inline-block;
	vertical-align: top;
}

.link {
	padding-top: 2px;
	padding-bottom: 2px;
}

a:visited, a:link {
	color: #b58900;
	text-decoration: none;
}

.category {
	margin: auto;
	float: left;
	width: 25%;
}

.grey-color {
	color: #657b83;
}

.monaco {
	font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
}
